{
	"extends": "../.babelrc",
	"presets": [
		["@babel/preset-env", { "targets": "defaults" }],
		["@babel/preset-react", { "runtime": "automatic" }]
	],	
	"plugins": [
		["babel-plugin-root-import", { "rootPathPrefix": "~", "rootPathSuffix": "client/src" } ]
	]
}
