/* 
===============
Section7
=============== 
*/
.wesupportyou_main_container{
	background-color: var(--main-bg-color);
	display: flex;
}

.wesupportyou_container{
	width: 600px;
	height: 600px;
	margin:60px 40px;
}

.wesupportyou_header{
	font-family: 'RobotoSlab-VariableFont_wght';
	font-size: 48px;
	margin-left:60px;
}

.wesupportyou_text{
    font-family: "NexaDemo-Light";
	font-size: 20px;
	margin-left: 60px;
}
.wesupportyou_join-us{
	position: relative;
}

.wesupportyou_button{
	font-family: 'Ambit SemiBold';
	font-size: 24px;
	background: var(--darkgreen-color);
	color: #FFF8F3;
	text-decoration: none;
	border: 4px solid var(--darkgreen-color);
	padding: 20px 40px; 
    cursor: pointer;
	margin: 50px 50px 0px 60px;
	position: absolute;
}

.wesupportyou_button:hover{
	background: var(--blue-color);
	border: 4px solid var(--blue-color);
}

.wesupportyou_hidden-show{
	font-family: 'Ambit SemiBold';
	font-size: 20px;
	background-color: var(--darkgreen-color);
	color: var(--main-bg-color);
	padding: 10px 30px;
	margin: 140px 0px 0px 150px;
    width: 70px; 
    position: absolute;
} 

.wesupportyou_img_container{
	width: 1000px;
	height: 600px;
	margin:60px;
	position:relative;
}

.wesupportyou_img{
	position:absolute;
	border-radius: 15px;
    width: 600px;
	height: 400px;
	max-width: 100%;
    height: auto;
}

.wesupportyou_img_color{
	position:absolute;
	background-color: var(--lightorange);
	border-radius: 15px;
	width: 500px;
	height: 400px;
	top:60px;
	left:150px;
}
