.timetables-main-container {
	background-color: var(--main-bg-color);
	padding-top: 6rem;
}
.timetables-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 1200px;
}

.timestables-text-container {
	display: flex;
	flex-direction: column;
	height: 27rem;
	justify-content: start;
	row-gap: 1.6875rem;
	width: 50%;
}
.timestables-text-container p:nth-child(1) {
	max-width: 450px;
	width: 90%;
	max-height: 6.125em;
	font-family: "Ambit Light";
	letter-spacing: 0.0125rem;
	line-height: 1.3125rem;
	font-size: 1.25rem;
}
.timestables-text-container p:nth-child(2) {
	font-family: "Ambit SemiBold";
	font-weight: bold;
	width: 90%;
	font-size: 1.25rem;
	line-height: 1.3125rem;
}
.timestables-text-container p:nth-child(2) a {
	text-decoration: none;
}

.timestables-text-container > p:nth-child(3) {
	width: 90%;
	font-family: "Ambit SemiBold";
	font-size: 1.25rem;
	line-height: 1.3125rem;
	font-weight: bold;
}
.timestables-text-container > p:nth-child(2) a {
	color: var(--blue-color);
}

.register-button {
	background-color: var(--blue-color);
	padding: 1rem;
	border: none;
	font-size: 1.5rem;
	font-family: "Ambit SemiBold";
	color: var(--white-color);
}
.register-button:hover {
	background-color: var(--darkgreen-color);
	cursor: pointer;
}

.register-button-hover {
	background-color: var(--blue-color);
	width: 200px;
	height: 40px;
	border: none;
	font-size: 1.1rem;
	font-family: "Ambit SemiBold";
	color: var(--white-color);
	margin-top: -0.7rem;
	margin-left: 140px;
	z-index: 10;
}
.timetables-img-container {
	position: relative;
	width: 50%;
}
.timetables-img-color-blob {
	background-color: var(--green-bg-color);
	max-width: 36.875rem;
	width: 600px;
	height: 400px;
	border-radius: 5%;
	position: absolute;
	top: -70px;
	left: -50px;
}
.timetables-img-container img {
	max-height: 100%;
	max-width: 100%;
	margin-top: -150px;
	border-radius: 5%;
	position: relative;
	z-index: 2;
}

.bottom-container {
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 1216px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}
.bottom-two-cards {
	display: flex;
	flex-direction: column;
}

.imageRight img {
	max-width: 100%;
	border-radius: 0;
}
.arrow-img {
	max-height: 100px;
}
.primary-img {
	max-height: 100%;
}
.bottom-container img {
	max-width: 100%;
}

@media only screen and (max-width: 1023px) {
	.timetables-img-color-blob {
		display: none;
	}
	.timetables-img-container img {
		margin-top: 0;
	}
}
@media only screen and (min-width: 1024px) {
	.timetables-content-container {
		padding: 10px;
	}
	.bottom-container {
		display: flex;
		flex-direction: row;
	}
	.timetables-content-container {
		flex-direction: row;
	}
	.right-image-card-lg {
		margin-top: -120px;
	}
	.bottom-two-cards {
		margin-top: -75px;
	}
}

@media only screen and (min-width: 1200px) {
	.timetables-content-container {
		margin-top: -2rem;
	}
	.bottom-container {
		display: flex;
		flex-direction: row;
		max-width: 1114px;
	}
	.timetables-content-container {
		flex-direction: row;
	}
	.right-image-card-lg {
		margin-top: -195px;
		max-height: 320px;
		margin-right: 40px;
	}
	.bottom-two-cards {
		margin-top: -75px;
	}
	.timetables-img-container img {
		max-height: 100%;
		max-width: 100%;
		margin-top: -150px;
		height: 350px;
	}
	.timetables-img-color-blob {
		height: 350px;
		width: 540px;
	}

	.timestables-text-container {
		width: 45%;
	}
	.timetables-img-container {
		width: 47%;
	}
}
@media only screen and (min-width: 1400px) {
	.timetables-content-container {
		padding: 10px;
		margin-top: -1rem;
	}
	.bottom-container {
		display: flex;
		flex-direction: row;
		max-width: 1216px;
	}
	.timetables-content-container {
		flex-direction: row;
	}

	.bottom-two-cards {
		margin-top: -75px;
	}
	.timetables-img-container img {
		max-height: 100%;
		max-width: 100%;
		margin-top: -150px;
		height: auto;
	}
	.timestables-text-container {
		width: 50%;
	}
	.timetables-img-container {
		width: 50%;
	}
	.timetables-img-color-blob {
		height: 380px;
		width: 600px;
	}
	.right-image-card-lg {
		margin-top: -100px;
		max-height: 360px;
		margin-right: 0;
	}
}