* {
    padding: 0;
    margin:0;
}

:root {
    --main-bg-color:#FFF8F3;
    --green-bg-color:#A4E4DB;
    --pattens-blue: #D0ECF5;
    --blue-color:#1E6DD0;
    --white-color:#FFFFFF;
    --darkgreen-color:#0A2229;
    --lightorange:#F4DFD0;
    --pattens-blue: #D0ECF5;
    --icon-bg-color:rgb(233, 230, 186);
    --lightblue-color:#D9DEEA;
    --black-color:#000000;
    --black-shadow-color:#00000029;
    --black-title-color:#0F2420;
    --black-placeholder-color: #00000080;
    --purple-color:rgb(128, 0, 128);
  }

@font-face {
    font-family: "NexaTextDemo-Light";
    src: url("./assets/fonts/NexaTextDemo-Light.otf") format("opentype");
}

@font-face {
    font-family: "NexaDemo-Bold";
    src: url("./assets/fonts/NexaDemo-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NexaTextDemo-Light";
    src: url("./assets/fonts/NexaTextDemo-Light.otf") format("opentype");
}

@font-face {
    font-family: "NexaTextDemo-Bold";
    src: url("./assets/fonts/NexaTextDemo-Bold.otf") format("opentype");
}

@font-face {
    font-family: "RobotoSlab-Variable";
    src: url("./assets/fonts/RobotoSlab-Variable.ttf") format("opentype");
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("./assets/fonts/RobotoSlab-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Ambit Light";
    src: url("./assets/fonts/Ambit-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Ambit Regular";
    src: url("./assets/fonts/Ambit-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Ambit Bold";
    src: url("./assets/fonts/Ambit-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Ambit SemiBold";
    src: url("./assets/fonts/Ambit-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Ambit SemiBold Italic";
    src: url("./assets/fonts/Ambit-SemiBold-Italic.otf") format("opentype");
}

@font-face {
    font-family: "DM Sans Regular";
    src: url("./assets/fonts/DMSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "DM Sans Medium";
    src: url("./assets/fonts/DMSans-Medium.ttf") format("opentype");
}
