.advice-container {
	display: flex;
	height: fit-content;
	width: 100%;
	background-color: #fff8f3;
}
.advice-container .img-container {
	height: fit-content;
	width: 40%;
}
.advice-container .text-container {
	height: fit-content;
	width: 65%;
}

.img-container .color {
	height: 32.313rem;
	background-color: #ffffff;
	box-shadow: 5px 5px 6px #00000029;
	width: 22.625rem;
	margin: 20px 15px auto 50px;
}

.main-img img {
	height: 28.5rem;
	min-width: 21.5rem;
	margin: 12px 0px 0px 8px;
}
.text-container .header {
	font-weight: 400;
	font-size: 45px;
	opacity: 1;
	margin-top: 2rem;
	margin-left: 4rem;
	font-family: "RobotoSlab-Regular";
}
.advice-but {
	display: flex;
	justify-content: right;
	margin: 5.125rem 4.375rem;
}
.a-button {
	width: 15.188rem;
	background-color: var(--darkgreen-color);
	border: none;
	height: 4.375rem;
	color: var(--white-color);
	font-size: 24px;
	font-family: "Ambit SemiBold";
}

.a-button:hover {
	background-color: var(--blue-color);
	cursor: pointer;
}
.advice-but .button-hover {
	background-color: var(--darkgreen-color);
	width: 12.5rem;
	height: 2.5rem;
	border: none;
	font-size: 18px;
	font-family: "Ambit SemiBold";
	color: var(--white-color);
	margin-right: 100px;
	margin-top: 80px;
	position: absolute;
}
