.JoinUs-container {
	width: 1240px;
	height: 700px;
	display: flex;
}
.JoinUs-container-img {
	width: 620px;
	height: 700px;
}
.JoinUs-container-text-header {
	width: 620px;
	height: 700px;
	margin: 80px;
}

.JoinUs-text-header {
	width: 500px;
	height: 400px;
}
.JoinUs-tilte-header {
	position: relative;
	text-align: left;
	font: normal normal normal 48px/64px Roboto Slab;
	letter-spacing: 0.48px;
	color: #0f2420;
	opacity: 1;
	margin: 12px;
	right: 14px;
}
.JoiunUs-p {

	width: 452px;
	height: 23px;
	font-family: "Ambit Light";
	font-size: 16px;
	letter-spacing: 0.16px;
	color: #000000;
}
.Joinus-checkout-text {
	height: 23px;
	position: relative;
     top: 70px;
	width: 452px;
	font-family: "Ambit Regular";
	font-size: 16px;
	letter-spacing: 0.18px;
}

.JoinUs-img-color {
	width: 497px;
	height: 344px;
	background-color: #a4e4db;
	margin: 160px;
	position: relative;
	top: 10px;
	right: 70px;
	border-radius: 20px;
	opacity: 1;
}
.JoinUs-img {
	width: 428px;
	height: 424px;
	margin: 0px 50px 0px 32px;
}
.JoinUs-main-img {
	position: relative;
	width: 428px;
	height: 424px;
	bottom: 130px;
}
.Join-link-faceBook:hover {
	color: red;
}
