.aboutus_main_container {
	background-color: var(main-bg-color);
	height: 800px;
}
.aboutus_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-top: 8%;
}
.aboutus_text_container {
	padding-top: 5%;
}
.aboutus_header {
	font-size: 48px;
	margin-bottom: 30px;
	font-family: 'RobotoSlab-VariableFont_wght';
}
.aboutus_text {
	font-size: 25px;
	line-height: 2rem;
	margin-bottom: 40px;
	font-family: 'NexaDemo-Light';
}
.aboutus_button {
	width: 190px;
	background-color: var(--darkgreen-color);
	border: none;
	height: 70px;
	color: var(--white-color);
	font-size: 24px;
	font-family: 'Ambit SemiBold';
}
.aboutus_button:hover {
	background-color: var(--blue-color);
	cursor: pointer;
}
.aboutus_button_hover {
	background-color: var(--darkgreen-color);
	width: 150px;
	height: 40px;
	border: none;
	font-size: 18px;
	font-family: "Ambit SemiBold";
	margin-top: 10px;
	color: var(--white-color);
	margin-left: 100px;
}

.aboutus_img_color {
	background-color: var(--green-bg-color);
	height: 540px;
	width: 556px;
	border-radius: 5%;
	position: relative;
}
.aboutus_img_container img {
	width: 624px;
	height: 430px;
	border-radius: 5%;
	position: absolute;
	right: -150px;
	top: 55px;
}
