.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 2rem;
}

.not-found-message {
    font-family: "RobotoSlab-Variable";
    font-size: 2.5rem;
}

.not-found-emoji {
    font-size: 3rem;
}