
    
*{
    margin: 0;
    padding: 0;
  }
  .restPassword-container{
    display: flex;
    height: 80vh;
    font-family: RobotoSlab-VariableFont_wght;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .resetPassword-form-div{
    flex: 830px;
    flex-direction: column;
    background-color:#FFF8F3 ;
    display: flex;
  justify-content: center;
  align-items: center;
    height: 899px;

  }
  
  .reset-side-img{
  height: 899px;
  flex: 510px;
  padding: 0;
  margin: 0;  
  }
  .register_img{
  height: 899px;
  width: 510px;
  margin: 0;
  padding: 0;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  
  .restPassword-form{  
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 450px;
    height: 210px;
    margin: 20px;
    
  } 

  .Please-type-password{
    size: 48px;
    width: 450px;
    height:  35x;
    margin-left: 10px;
    margin-top: 30px;
   font: normal normal 300 16px/25px Ambit;
   letter-spacing: 0.16px;
   color: #000000;
    opacity: 1;
  }
  .p-ResetPassword{
  display: flex;
  size: 48px;
  width: 450px;
  height: 63px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0-48);
  color: var(--unnamed-color-0f2420);
  text-align: left;
  font: normal normal normal 42px/64px Roboto Slab;
  letter-spacing: 0.45px;
  color: #0F2420;
  opacity: 1;
  
  }
  
  .input-form{
    margin: 5px  ;
    height: 46px;
    border: 1px solid #D9DEEA;
    border-radius: 4px;
    opacity: 1;
    width: 380px;
  }
  

  
  
  ::placeholder {
  
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-ambit);
    letter-spacing: var(--unnamed-character-spacing-0-16);
    color: var(--unnamed-color-00000080);
    text-align: left;
    font: normal normal 300 16px/65px Ambit;
    letter-spacing: 0.16px;
    color: #00000080;
    opacity: 1;
    
  
  }
  
  .already-have-account-div{
    margin-right: 60px;
    margin-top: 40px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-ambit);
  letter-spacing: var(--unnamed-character-spacing-0-16);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 300 16px/25px Ambit;
  letter-spacing: 0.16px;
  color: #000000;
  opacity: 1;
  }
  .link-sgining{
    text-decoration: none;
  }
  .link-sgining:hover{
    text-decoration: underline;
    color: red;
  }

  .ResetPassword_button {
	background-color: var(--blue-color);
	width: 380px;
	height: 55px;
	border: none;
	font-size: 24px;
	font-family: 'Ambit SemiBold';
    border-radius: 4px;
	color: var(--white-color); 
    margin: 5px  ;
    
 }

 .ResetPassword_button:hover {
	background-color: var(--darkgreen-color);
	cursor: pointer;
}
.ResetPassword_button_hover {
	background-color: var(--blue-color);
	width: 250px;
	height: 40px;
	border: none;
	font-size: 18px;
	font-family: 'Ambit SemiBold';
	margin-top: 270px;
	color: var(--white-color);
	margin-left: 340px;
    border-radius: 4px;
    display: block;
    position: absolute;
}

