.welcome_main_container {
	background-color: var(--main-bg-color);
	height: 600px;
}
.welcome_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.welcome_text_container {
	display: flex;
	flex-direction: column;
	height: 540px;
	margin-top: 2%;
}
.welcome_header {
	font-size: 48px;
	line-height: 1.5;
	margin-top: 60px;
	font-family: "NexaDemo-Light";
}
.welcome_circle {
	width: 16px;
	height: 10px;
	margin: 4px;
}
.welcome_icon_box {
	margin-right: 10px;
	background-color: rgb(233, 230, 186);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.welcome_icon_box1 {
	margin-right: 10px;
	background-color: #f4dfdd;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.welcome_text {
	line-height: 3;
	font-size: 25px;
	margin-top: 50px;
	font-family: "NexaDemo-Light";
}
.welcome_button {
	background-color: var(--blue-color);
	width: 277px;
	height: 55px;
	border: none;
	font-size: 24px;
	font-family: "Ambit SemiBold";
	margin-top: 20px;
	color: var(--white-color);
}
.welcome_button:hover {
	background-color: var(--darkgreen-color);
}
.welcome_button_hover {
	background-color: var(--darkgreen-color);
	width: 200px;
	height: 40px;
	border: none;
	font-size: 18px;
	font-family: "Ambit SemiBold";
	margin-top: 20px;
	color: var(--white-color);
	margin-left: 140px;
}
.welcome_img_container {
	margin-top: 2%;
}
.welcome_img_color {
	background-color: var(--green-bg-color);
	height: 540px;
	width: 556px;
	border-radius: 5%;
	position: relative;
}
.welcome_img_container img {
	width: 624px;
	height: 430px;
	border-radius: 5%;
	position: absolute;
	left: -150px;
	top: 55px;
}
