.timetables-main-container {
	background-color: var(--main-bg-color);
	padding-top: 6rem;
}
.timetables-content-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20rem;
}

.timestables-text-container {
	display: flex;
	flex-direction: column;
	height: 27rem;
	justify-content: start;
	row-gap: 1.6875rem;
	width: 25%;
}
.timestables-text-container p:nth-child(1) {
	width: 90%;
	max-height: 6.125em;
	font-family: "Ambit Light";
	letter-spacing: 0.0125rem;
	line-height: 1.3125rem;
	font-size: 1.25rem;
}
.timestables-text-container p:nth-child(2) {
	font-weight: bold;
}
.timestables-text-container p:nth-child(2) a {
	font-family: "Ambit Regular";
	text-decoration: none;
}

.timestables-text-container > p:nth-child(2) {
	width: 90%;
	font-family: "Ambit Light";
	font-size: 1.25rem;
	line-height: 1.3125rem;
}
.timestables-text-container > p:nth-child(2) a {
	color: var(--blue-color);
}

.register-button {
	background-color: var(--blue-color);
	padding: 1rem;
	border: none;
	font-size: 1.5rem;
	font-family: "Ambit SemiBold";
	color: var(--white-color);
}
.register-button:hover {
	background-color: var(--darkgreen-color);
	cursor: pointer;
}

.register-button_hover {
	font-family: "Ambit SemiBold";
	background-color: var(--blue-color);
	color: var(--white-color);
	font-size: 1.125rem;
	padding: 1rem;
	border: none;
}
.timetables-img-container {
	position: relative;
	width: 25%;
}
.timetables-img-color-blob {
	background-color: var(--green-bg-color);
	height: 21.25rem;
	width: 36.875rem;
	border-radius: 5%;
	position: relative;
	right: 41%;
}
.timetables-img-container img {
	max-height: 24.375rem;
	max-width: 36.875rem;
	border-radius: 5%;
	position: absolute;
	left: 8%;
	top: -30%;
}

.bottom-container {
	background-color: var(--main-bg-color);
	display: flex;
	width: 10%;
	position: relative;
	top: -4rem;
	left: 16%;
	column-gap: 2.5rem;
}

.imageRight img {
	border-radius: 0;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
	.bottom-container {
		left: 9%;
		column-gap: 0rem;
		top: -8rem;
	}
	.rightImg {
		width: 340px;
		height: 240px;
	}
	.timetables-img-color-blob {
		background-color: var(--green-bg-color);
		height: 240px;
		width: 490px;
		border-radius: 5%;
		position: relative;
		right: 200px;
	}
	.timetables-img-container img {
		height: 290px;
		width: 490px;
		border-radius: 5%;
		position: absolute;
		left: 50px;
		top: -110px;
	}
	.arrowImg {
		width: 290px;
	}
}
@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
	.bottom-container {
		left: 6%;
		column-gap: 0rem;
		top: -8rem;
	}
	.rightImg {
		max-width: 400px;
		max-height: 300px;
	}
	.timetables-img-color-blob {
		background-color: var(--green-bg-color);
		height: 240px;
		width: 490px;
	}
	.timetables-img-container img {
		height: 290px;
		width: 490px;
		border-radius: 5%;
		position: absolute;
		left: 50px;
		top: -110px;
	}
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1300px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		position: relative;
		top: -4rem;
		left: 9%;
		column-gap: 0rem;
	}
	.timetables-content-container {
		padding-right: 8%;
	}
	.timestables-text-container {
		width: 26%;
	}
}
@media screen and (min-device-width: 1300px) and (max-device-width: 1400px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 12%;
		column-gap: 0.6rem;
	}
}
@media screen and (min-device-width: 1400px) and (max-device-width: 1500px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 13%;
		column-gap: 0.7rem;
	}
}
@media screen and (min-device-width: 1500px) and (max-device-width: 1600px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 14%;
		column-gap: 1.4rem;
	}
}
@media screen and (min-device-width: 1600px) and (max-device-width: 1700px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 14%;
		column-gap: 2rem;
	}
}
@media screen and (min-device-width: 1700px) and (max-device-width: 1800px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 15%;
		column-gap: 2.2rem;
	}
}
@media screen and (min-device-width: 1800px) and (max-device-width: 1900px) {
	.bottom-container {
		background-color: var(--main-bg-color);
		display: flex;
		width: 10rem;
		position: relative;
		top: -4rem;
		left: 15%;
		column-gap: 3.2rem;
	}
}
@media screen and (min-device-width: 800px) and (max-device-width: 1000px) {
	.bottom-container {
		left: 8%;
		column-gap: 0rem;
	}
	.rightImg img {
		max-width: 200px;
		max-height: 100px;
	}
	.timestables-text-container {
		width: 30%;
	}
}
