.uesful-links-container {
	display: flex;
	height: 648px;
	width: 78.75rem;
	background-color: #fff8f3;
}
.uesful-links-img-conatiner {
	width: 35.625remx;
}
.uesflu-links-img-color {
	position: relative;
	top: 8rem;
	width: 35.625rem;
	height: 32.5rem;
	background-color: #a4e4db;
}
.uesful-links-img {
	position: relative;
	width: 31.25rem;
	height: 40.5rem;
	bottom: 8rem;
}
.uesful-link-text-conatiner {
	width: 43.125rem;
}
.uesful-links-hesdr-text {
	width: 32.0625rem;
	height: 25rem;
	position: relative;
	top: 9.375rem;
	left: 3.125rem;
}
.uesful-links-text {
	font-size: 48px;
	text-align: left;
	letter-spacing: 0.48px;
	opacity: 1;
	font-weight: bold;
	font-family: "RobotoSlab-Regular";
}
.uesful-links-links {
	margin-top: 1.25rem;
}

.uesful-main-links {
	width: 25.5rem;
	height: 5rem;
}
.uesful-links-p {
	font-size: 20px;
	font-weight: bold;
	font-family: "Ambit Regular";
}
.uesful-links-a {
	font-family: Ambit Light;
	text-decoration: none;
}
.uesful-links-a:hover {
	text-decoration: underline;
	color: red;
}
