.question_container {
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.question_id {
	display: flex;
	justify-content: space-between;
	width: 60%;
	text-align: left;
	letter-spacing: 0.17px;
	font-family: "Ambit Light";
	opacity: 0.5;
}
.question_title {
	text-align: left;
	margin: 30px;
	width: 60%;
	font-family: "Ambit Light";
	font-size: 18px;
	letter-spacing: 0.42px;
}
.question_faq {
	display: flex;
	width: 60%;
	text-align: center;
	padding: 30px 0px;
	font-size: 40px;
	font-family: "Ambit SemiBold";
	background-color: var(--green-bg-color);
}
.question_faq div {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100px;
	padding: 5px 10px;
}
.question_faq div:nth-of-type(1) {
	padding-top: 20px;
}
.question_faq div:nth-of-type(2) {
	text-align: left;
	letter-spacing: 0.2px;
	font-family: "Ambit Light";
	font-size: 20px;
	flex-grow: 3;
}
.question_faq div:nth-of-type(3) {
	padding-top: 20px;
}
.question_del_button {
	width: 46px;
	height: 46px;
	font-size: 30px;
	border-radius: 50%;
	background-color: var(--darkgreen-color);
	color: var(--white-color);
	border: none;
}