.additional-support-container {
	background-color: #fff8f3;
}
.hero-image {
	width: 100%;
    padding: 50px 0 0 0;
}
.content {
	display: flex;
	flex-direction: row;
	height: 50vh;
	justify-content: center;
	align-items: center;
	column-gap: 90px;
}
.content-child1 {
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: center;
	row-gap:20px;
}
.content-child1 p:nth-child(1) {
	width: 433px;
	height: 98px;
	font-family: "Ambit Light";
	letter-spacing: 0.2px;
	line-height: 21px;
}
.content-child1 p:nth-child(2) a{
	font-family: "Ambit Regular";
}

.content-child1 > p:nth-child(2) {
	width: 315px;
	font-family: "Ambit Light";

	line-height: 21px;
}
.content-child1 > p:nth-child(2) a {
	color: var(--blue-color);
}
.content-child2 {
	display: flex;
	flex-direction: column;
	width: 438px;

	height: 50vh;
	justify-content: center;
	font-family: "Ambit Light";
	padding: 0 0 30px 0;
}
.content-child2 > h2 {
	font-size: 16px;
	font-family: "Ambit SemiBold";
	padding-bottom: 15px;
}
.content-child2 a {
	line-height: 20px;
	width: 476px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: var(--blue-color);
    text-decoration: none;
}
