.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 10px;
	padding-top: 20px;
	column-gap: 60px;
}
.grid-item {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 40px;
	text-align: center;
}
.member-header {
	text-align: center;
	color: white;
	padding-top: 20px;
	font-family: RobotoSlab-Regular;
	font-size: 48px;
}
.memberSays-container {
	background-color: rgb(30, 109, 208);
	display: flex;
	flex-direction: column;
	align-content: center;
	height: fit-content;
	align-items: stretch;
	gap: 40px;
	padding: 5px 5px 50px 5px;
}
.card-header {
	font-family: "Ambit SemiBold";
	font-size: 24px;
}
.card-text {
	font-family: "NexaDemo-Light";
	font-size: 20px;
}
.register-btn {
	border: none;
	font-size: 24px;
	font-family: "Ambit SemiBold";
	margin-top: 20px;
	color: var(--white-color);
	width: 335px;
	align-self: center;
	padding: 10px;
	background-color: black;
}
.register-btn:hover {
	background-color: var(--darkgreen-color);
	cursor: pointer;
}
.register-btn-hover {
	background-color: black;
	width: 200px;
	height: 40px;
	border: none;
	font-size: 18px;
	font-family: "Ambit SemiBold";
	color: var(--white-color);
	margin-left: 140px;
}
.register-btn-container {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
