.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 10px;
	padding-top: 20px;
	column-gap: 60px;
}
.grid-item {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 40px;
	text-align: center;
}
.register-btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: grey;
	color: black;
}
.register-btn {
	width: 335px;
	align-self: center;
	font-size: 30px;
	padding: 5px;
	background-color: black;
	color: white;
}
.member-header {
	text-align: center;
	color: white;
	padding-top: 20px;
	font-family: RobotoSlab-Regular;
	font-size: 48px;
}
.memberSays-container {
	background-color: rgb(30, 109, 208);
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 130vh;
	align-items: stretch;
	gap: 40px;
	padding: 5px;
}
.card-header {
	font-family: "Ambit SemiBold";
	font-size: 24px;
}
.card-text {
	font-family: "NexaDemo-Light";
	font-size: 20px;
}
