#footer{
    font-family: 'Ambit-Regular';
    font-size: 15px;
    color: var(--main-bg-color);
    background-color: var(--darkgreen-color);
    width: 100%;
}

.home_section12_parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 150px 50px 150px;
    
}

.home_section12_child1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_section12_child2 span{
    border-top: 1px solid var(--main-bg-color);
}
