.what-is-autism-container {
	background-color: var(--main-bg-color);
}

.hero-image {
	width: 100%;
}

.main-container {
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 80px;
}

.discription-container {
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.discription {
	width: 610px;
	height: 210px;
	padding: 100px 0 40px 15px;
	font-family: "Ambit Light";
	letter-spacing: 0.2px;
	line-height: 25px;
}

.more-info-autism {
	width: 610px;
	padding: 0 0 0 15px;
	font-family: "Ambit Light";
	line-height: 25px;
}

.more-info-autism a {
	padding-left:5px;
	font-family: "Ambit SemiBold";
	text-decoration: none;
	color: var(--blue-color);
}

.more-info-autism a:hover{
	text-shadow: 0 0 1px var(--blue-color);
}

.video-container {
	width: 60vh;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 100px;
}

.video-wrapper{
	position: relative;
	padding-top: 56.25%;
}

.player {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.player-button{
	width: 90px;
	height: 90px;
	color: var(--blue-color);
}

.vide-discription p {
	padding-left:15px;
	text-align: center;
	font-size: 18px;
	font-family: "Ambit Light";
	letter-spacing: 0.2px;
	line-height: 25px;
}

