.what-is-autism-container {
	background-color: var(--main-bg-color);
	height: fit-content;
	width: 100vw;
	display: block;
}

.what-is-autism-content {
	display: flex;
	flex-direction: column;
}

.what-is-autism-header {
	width: 100%;
}

.what-is-autism-header > img {
	width: 100%;
}

.what-is-autism-section {
	display: grid;
	grid-template-columns: 60% 40%;
	font-size: 20px;
	font-family: "Ambit Light";
	line-height: 25px;
	letter-spacing: 0.3px;
	margin: 3.5rem 150px;
}

.what-is-autism-section .description-container {
	margin: 2rem 1rem 0 2rem;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

a.what-is-autism-link {
	text-decoration: none;
	color: var(--blue-color);
	padding-left: 10px;
}

a.what-is-autism-link:hover{
	text-shadow: 0 0 1px var(--blue-color);
}

.what-is-autism-section .video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1.8rem 0 2rem 30px;
}

.what-is-autism-section .video-wrapper {
	min-height: 300px;
}

.what-is-autism-section .player-button{
	width: 90px;
	height: 90px;
	color: var(--blue-color);
}

.what-is-autism-section .video-description p {
	padding:15px;
	text-align: center;
	font-size: 18px;
	font-family: "Ambit Light";
}