.footericon_container {
    background-color: var(--darkgreen-color);
}
.footericon_iconstext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.footericon_icon {
    margin: 15px;
    width: 22px;
    height: 22px;
    color: var(--white-color);
}
.footericon_icon:hover {
    color: var(--green-bg-color);
    width: 30px;
    height: 30px;
    box-shadow: -3px 5px 15px var(--green-bg-color);
    padding: 7px;
    border: 0px solid;
    border-radius: 50%;
}
.footericon_text {
    font-size: 15px;
    font-family: "Sans Regular";
    color: var(--white-color);
    margin: 20px;
}
.footericon_text:hover {
    background-color: transparent;
    box-shadow: -3px 5px 15px var(--green-bg-color) inset, -3px 5px 15px var(--green-bg-color);
    padding: 15px;
    border-radius: 50%;
}