.login-icon {
	color: black;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	text-transform: uppercase;
	border: 3px solid transparent;
}

.signOut-icon {
	color: black;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	text-transform: uppercase;
	border: 3px solid transparent;
}

.login-icon:hover {
	border-radius: 10px;
	transition: all 0.2s ease-out;
	color: black;
	border: 3px solid #1e6dd0;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1770px) and (-webkit-min-device-pixel-ratio: 1) {
	.login-icon {
		width: 90px;
	}
}
