.search-box-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

form {
	color: #555;
	display: flex;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 5px;
}

input[type="search"] {
	font-size: 15px;
	padding: 7px 8px;
	background: transparent;
	border: none;
	border: 1px solid transparent;
}

input[type="search"]::placeholder {
	opacity: 0.4;
}

button[type="submit"] {
	cursor: pointer;
	width: 25px;
	background: transparent
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
		no-repeat center;
	border: 1px solid transparent;
	opacity: 0.7;
}

button[type="submit"]:focus,
input[type="search"]:focus {
	border-color: inherit;
	outline: none;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1378px) and (-webkit-min-device-pixel-ratio: 1) {
	.search-box-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
input[type="search"] {

    padding: 6px 0px;

}
	

}