.what-we-do-main-container {
	background-color: #fff8f3;
	height: 45rem;
}
.what-we-do-hero-image img {
	width: 90%;
	position: absolute;
	top: -10.8125rem;
	left: 1.875rem;
    
}
.what-we-do-img-container-colour-blob {
	background-color: var(--green-bg-color);
    height: 19rem;
    width: 34.25rem;
    border-radius: 1.25rem;
    position: relative;
    top: 6.5rem;
}

.what-we-do-content {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	align-items: center;
	column-gap: 3.4375rem;
}

.what-we-do-content-right-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 26rem;
	padding: 0 0 1.875rem 0;
	font-family: "Ambit Light";
	font-size: 1.25rem;
	row-gap: 0.5rem;
}
.what-we-do-content-right-container > h1 {
	font-size: 2.625rem;
	font-family: "RobotoSlab-Regular";
	font-weight: lighter;
	letter-spacing: 1px;
	padding-bottom: 1.3125rem;
}
